<style lang="less">
@import "weektextManage.less";
</style>
<template>
    <div class="search">
        <Row>
            <Col>
                <Card>
                    <Row>
                        <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                            <Form-item label="系部" prop="department">
                                <Cascader v-model="selectDep" :data="department" :load-data="loadDepData" @on-change="handleChangeDep" change-on-select filterable placeholder="请选择或输入搜索系部" style="width: 200px"></Cascader>
                            </Form-item>
                            <Form-item label="班级" prop="clazz">
                                <Cascader v-model="selectClazz" :data="clazz" @on-change="handleChangeClazz" filterable placeholder="请选择或输入搜索班级" style="width: 200px"></Cascader>
                            </Form-item>

                            <span v-if="drop">
                                <Form-item label="宿舍楼栋" prop="build">
                                    <Cascader v-model="selectBuild" :data="build" @on-change="handleChangeBuild" filterable placeholder="请选择或输入搜索楼栋" ></Cascader>
                                </Form-item>
                                <Form-item label="宿舍号" prop="room">
                                    <Cascader v-model="selectRoom" :data="room" @on-change="handleChangeRoom" filterable placeholder="请选择或输入搜索宿舍" ></Cascader>
                                </Form-item>
                              <Form-item label="状态" prop="status">
                                <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                                  <Option value="0">未读</Option>
                                  <Option value="1">已阅</Option>
                                  <Option value="2">异常</Option>
                                </Select>
                              </Form-item>
                              <Form-item label="周记时间">
                                <DatePicker v-model="selectDate" type="daterange" format="yyyy-MM-dd" clearable @on-change="selectDateRange" placeholder="选择起始时间" style="width: 200px"></DatePicker>
                              </Form-item>
                            </span>
                            <Form-item style="margin-left:-35px;" class="br">
                              <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                              <Button @click="handleReset" >重置</Button>
                              <a class="drop-down" @click="dropDown">{{dropDownContent}}
                                <Icon :type="dropDownIcon"></Icon>
                              </a>
                            </Form-item>
                        </Form>
                    </Row>
                    <Row class="operation">
                        <Button @click="delAll" icon="md-trash">批量删除</Button>
                        <Dropdown @on-click="handleDropdown">
                          <Button>
                              更多操作
                              <Icon type="md-arrow-dropdown" />
                          </Button>
                          <DropdownMenu slot="list">
                              <DropdownItem name="refresh">刷新</DropdownItem>
                              <DropdownItem name="exportData">导出所选数据</DropdownItem>
                              <DropdownItem name="exportAll">导出全部数据</DropdownItem>
                          </DropdownMenu>
                        </Dropdown>
                        <circleLoading v-if="operationLoading"/>
                    </Row>
                    <Row>
                        <Alert show-icon>
                            已选择 <span class="select-count">{{selectCount}}</span> 项
                            <a class="select-clear" @click="clearSelectAll">清空</a>
                        </Alert>
                    </Row>
                    <Row>
                        <Table :loading="loading" border :columns="columns" :data="data" sortable="custom" @on-sort-change="changeSort" @on-selection-change="showSelect" ref="table"></Table>
                        <Table :columns="exportColumns" :data="exportData" ref="exportTable" style="display:none"></Table>
                    </Row>
                    <Row type="flex" justify="end" class="page">
                        <Page :current="searchForm.pageNumber" :total="total" :page-size="searchForm.pageSize" @on-change="changePage" @on-page-size-change="changePageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
        <Modal
            v-model="modalExportAll"
            title="确认导出"
            :loading="loadingExport"
            @on-ok="exportAll">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
    </div>
</template>

<script>
import circleLoading from "../../my-components/circle-loading.vue";
import {
  initClazz,
  loadClazzByDeparmentId,
  initBuild,
  loadRoomByBuildId,
  getWeekTextList,
  deleteWeekText
} from "@/api/wenli";
import {
  initDepartment,
  loadDepartment
} from "@/api/index";
export default {
  name: "complex-table",
  components: {
    circleLoading
  },
  data() {
    return {
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      modalExportAll: false, // 显示导出全部数据
      loadingExport: true, // 导出全部数据状态
      drop: false, // 搜索展开标识
      dropDownContent: "展开", // 搜索展开标识文字
      dropDownIcon: "ios-arrow-down", //搜索展开图标
      selectCount: 0, // 多选计数
      selectList: [], // 多选数据
      department: [
        // 搜索类别数据
      ],
      clazz: [
        // 班级
      ],
      oldCardId: "",// 为了去保存看是否修改了学号
      build: [],
      room: [],
      selectDep: [], // 搜索选择类别modal
      selectClazz: [],
      selectBuild: [],
      selectRoom: [],
      searchForm: {
        // 搜索框对应data对象
        departmentId: "",
        classId: "",
        buildId: "",
        roomId: "",
        status: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "" // 终止时间
      },
      selectDate: null, // 选择日期绑定modal
      modalType: 0, // 添加或编辑标识
      modalTitle: "", // 添加或编辑标题
      submitLoading: false, // 添加或编辑提交状态
      columns: [
        {
          type: "selection",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          type: "index",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          title: "楼栋",
          key: "buildName",
          width: 90,
          fixed: "left"
        },
        {
          title: "宿舍",
          key: "roomName",
          width: 70,
          sortable: true,
          fixed: "left"
        },
        {
          title: "系部",
          key: "departmentName",
          width: 140
        },
        {
          title: "班级",
          key: "className",
          width: 90
        },
        {
          title: "教师",
          key: "teacherName",
          width: 85
        },
        {
          title: "状态",
          key: "status",
          align: "center",
          fixed: "right",
          width: 120,
          render: (h, params) => {
            let re = "";
            if (params.row.status === 0) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot"
                    }
                  },
                  "未读"
                )
              ]);
            } else if (params.row.status === 1) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot",
                      color: "success"
                    }
                  },
                  "已阅"
                )
              ]);
            } else if (params.row.status === 2) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot",
                      color: "error"
                    }
                  },
                  "异常"
                )
              ]);
            }
          },
          filters: [
            {
              label: "正常启用",
              value: 0
            },
            {
              label: "禁用",
              value: -1
            }
          ],
          filterMultiple: false,
          filterMethod(value, row) {
            if (value === 0) {
              return row.status === 0;
            } else if (value === -1) {
              return row.status === -1;
            }
          }
        },
        {
          title: "学习任务情况",
          key: "studyStatusName",
          width: 120
        },
        {
          title: "情绪情况",
          key: "moodStatusName",
          width: 120
        },
        {
          title: "身体情况",
          key: "healthStatusName",
          width: 120
        },
        {
          title: "彻夜未归情况",
          key: "returnRoomStatusName",
          width: 120
        },
        {
          title: "休息情况",
          key: "sleepStatusName",
          width: 120
        },
        {
          title: "消费情况",
          key: "consumeStatusName",
          width: 120
        },
        {
          title: "失恋情况",
          key: "loveStatusName",
          width: 120
        },
        {
          title: "备注",
          key: "conditionText",
          width: 120
        },
        {
          title: "教师回复",
          key: "teacherReturnText",
          width: 120
        },
        {
          title: "创建时间",
          key: "createTime",
          sortable: true,
          fixed: "right",
          sortType: "desc",
          width: 160
        }
      ],
      exportColumns: [
        {
          title: "名称",
          key: "name"
        },
        {
          title: "头像",
          key: "avatar"
        },
        {
          title: "所属类别",
          key: "categoryTitle"
        },
        {
          title: "类型",
          key: "type"
        },
        {
          title: "状态",
          key: "status"
        },
        {
          title: "创建时间",
          key: "createTime"
        }
      ],
      data: [], // 表单数据
      exportData: [], // 导出数据
      total: 0 // 表单数据总数
    };
  },
  methods: {
    init() {
      this.accessToken = {
        accessToken: this.getStore("accessToken")
      };
      this.getDataList();
      // 初始化搜索框级联分类数据
      this.initDepartmentData();
      // 初始化班级信息
      this.initClazzData();
      this.initBuildData();
    },
    initDepartmentData() {
      initDepartment().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          this.department = res.result;
        }
      });
    },
    initClazzData() {
      if (this.searchForm.departmentId == "") {
        initClazz().then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.clazz = res.result;
          }
        });
      } else {
        loadClazzByDeparmentId(this.searchForm.departmentId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.clazz = res.result;
          }
        });
      }
    },
    initBuildData() {
      initBuild().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            e.value = e.id;
            e.label = e.name;
          });
          this.build = res.result;
        }
      });
    },
    initRoomData() {
      if (this.searchForm.buildId == "") {
        this.room = [];
      } else {
        loadRoomByBuildId(this.searchForm.buildId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.room = res.result;
          }
        });
      }
    },
    loadDepData(item, callback) {
      item.loading = true;
      loadDepartment(item.value).then(res => {
        item.loading = false;
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          item.children = res.result;
          callback();
        }
      });
    },
    handleChangeDep(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.departmentId = value[value.length - 1];
      } else {
        this.searchForm.departmentId = "";
      }
      // 重新刷新 班级里的数据
      this.initClazzData();
    },
    handleChangeClazz(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.classId = value[value.length - 1];
      } else {
        this.searchForm.classId = "";
      }
    },
    handleChangeBuild(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.buildId = value[value.length - 1];
      } else {
        this.searchForm.buildId = "";
      }
      // 选中楼栋后，再去获取宿舍数据
      this.initRoomData();
    },
    handleChangeRoom(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.roomId = value[value.length - 1];
      } else {
        this.searchForm.roomId = "";
      }
    },
    handleChangeUserFormDep(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.form.categoryId = value[value.length - 1];
      } else {
        this.form.categoryId = "";
      }
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    getDataList() {
      // 多条件搜索获取表格数据
      this.loading = true;
      getWeekTextList(this.searchForm).then(res => {
        this.loading = false;
           if (res.success === true) {
             this.data = res.result.content;
             this.total = res.result.totalElements;
           }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      console.info(this.searchForm);
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";

      this.searchForm.departmentId = "";
      this.searchForm.classId = "";
      this.searchForm.status = "";
      this.searchForm.buildId = "";
      this.searchForm.roomId = "";
      // 重新加载数据
      this.getDataList();
      // 重新加载宿舍数据
      this.initRoomData();
      // 重新加载班级数据
      this.initClazzData();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    handleDropdown(name) {
      if (name === "refresh") {
        this.getDataList();
      } else if (name === "exportData") {
        if (this.selectCount <= 0) {
          this.$Message.warning("您还未选择要导出的数据");
          return;
        }
        this.$Modal.confirm({
          title: "确认导出",
          content: "您确认要导出所选 " + this.selectCount + " 条数据?",
          onOk: () => {
            this.$refs.exportTable.exportCsv({
              filename: "导出数据"
            });
          }
        });
      } else if (name === "exportAll") {
        this.modalExportAll = true;
      }
    },
    exportAll() {
      // this.getRequest("请求获取全部数据接口路径").then(res => {
      //   this.modalExportAll = false;
      //   if (res.success) {
      //     this.exportData = res.result;
      //     setTimeout(() => {
      //       this.$refs.exportTable.exportCsv({
      //         filename: "用户全部数据"
      //       });
      //     }, 1000);
      //   }
      // });
      // 模拟成功
      this.modalExportAll = false;
      this.$refs.exportTable.exportCsv({
        filename: "用户全部数据"
      });
    },
    handleCancel() {
      this.modalVisible = false;
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.name + " ?",
        onOk: () => {
          // 删除
          // this.operationLoading = true;
          // this.deleteRequest("请求地址，如/deleteByIds/" + v.id).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.getDataList();
          //   }
          // });
          // 模拟请求成功
          this.$Message.success("操作成功");
          this.getDataList();
        }
      });
    },
    dropDown() {
      if (this.drop) {
        this.dropDownContent = "展开";
        this.dropDownIcon = "ios-arrow-down";
      } else {
        this.dropDownContent = "收起";
        this.dropDownIcon = "ios-arrow-up";
      }
      this.drop = !this.drop;
    },
    showSelect(e) {
      this.exportData = e;
      this.selectList = e;
      this.selectCount = e.length;
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
           this.operationLoading = true;
          deleteWeekText(ids).then(res => {
            this.operationLoading = false;
               if (res.success === true) {
                 this.$Message.success("操作成功");
                 this.clearSelectAll();
                 this.getDataList();
               }
          });
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>