.search {
    .operation {
        margin-bottom: 2vh;
    }
    .select-count {
        font-size: 13px;
        font-weight: 600;
        color: #40a9ff;
    }
    .select-clear {
        margin-left: 10px;
    }
    .page{
        margin-top: 2vh;
    }
    .drop-down{
        font-size: 13px;
        margin-left: 5px;
    }
}

.permModal {
    .ivu-modal-body {
        max-height: 560px;
        overflow: auto;
        font-size: 12px;
        line-height: 1.5;
        padding: 16px;
    }
}