<style lang="less">
@import "./messageManage.less";
</style>
<template>
    <div class="search">
        <Row>
            <Col>
                <Card>
                    <Row>
                        <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                            <Form-item label="消息标题" prop="title">
                              <Input type="text" v-model="searchForm.title" placeholder="请输入消息标题" clearable style="width: 200px"/>
                            </Form-item>
                            <Form-item label="消息内容" prop="content">
                              <Input type="text" v-model="searchForm.content" placeholder="请输入消息内容" clearable style="width: 200px"/>
                            </Form-item>
                            <Form-item label="创建时间">
                              <DatePicker v-model="selectDate" type="daterange" format="yyyy-MM-dd" clearable @on-change="selectDateRange" placeholder="选择起始时间" style="width: 200px"></DatePicker>
                            </Form-item>
                            <Form-item style="margin-left:-35px;" class="br">
                              <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                              <Button @click="handleReset" >重置</Button>
                            </Form-item>
                        </Form>
                    </Row>
                    <Row class="operation">
                        <Button @click="add" type="primary" icon="md-add">发送新消息</Button>
                        <Button @click="delAll" icon="md-trash">批量删除撤回</Button>
                        <Button @click="getDataList" icon="md-refresh">刷新</Button>
                        <circleLoading v-if="operationLoading"/>
                    </Row>
                    <Row>
                        <Alert show-icon>
                            已选择 <span class="select-count">{{selectCount}}</span> 项
                            <a class="select-clear" @click="clearSelectAll">清空</a>
                        </Alert>
                    </Row>
                    <Row>
                        <Table :loading="loading" border :columns="columns" :data="data" sortable="custom" @on-sort-change="changeSort" @on-selection-change="showSelect" ref="table"></Table>
                    </Row>
                    <Row type="flex" justify="end" class="page">
                        <Page :current="searchForm.pageNumber" :total="total" :page-size="searchForm.pageSize" @on-change="changePage" @on-page-size-change="changePageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
        <Modal :title="modalTitle" v-model="modalVisible" :z-index="500" :mask-closable='false' :width="650" :styles="{top: '30px'}">
            <Form ref="form" :model="form" :label-width="70" :rules="formValidate">
                <FormItem label="消息类型" prop="type">
                  <Select v-model="form.type" placeholder="请选择">
                    <Option :value="0">系统公告</Option>
                    <Option :value="1">提醒</Option>
                    <Option :value="2">私信</Option>
                  </Select>
                </FormItem>
                <FormItem label="标题" prop="title">
                    <Input v-model="form.title"/>
                </FormItem>
                <FormItem label="内容" prop="content">
                    <Input v-model="form.content" type="textarea" :rows="4" placeholder="支持HTML标签语言..."/>
                </FormItem>
                <FormItem label="新创建账号也推送" prop="createSend">
                    <i-switch size="large" v-model="form.createSend">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </FormItem>
                <div v-if="modalType==0">
                  <FormItem label="发送范围" prop="sex">
                    <RadioGroup v-model="form.range" @on-change="changeRange">
                      <Radio :label="0">全体用户</Radio>
                      <Radio :label="1">指定用户成员</Radio>
                    </RadioGroup>
                  </FormItem>
                  <div>
                    <FormItem label="选择用户" v-if="showChooseUser">
                      <Button @click="userModalVisible=true" icon="md-person-add" style="margin-right:10px">选择发送用户</Button>
                    </FormItem>
                    <FormItem label="">
                      <Collapse simple>
                        <Panel name="1">
                            已选择 <span class="select-count">{{selectUserCount}}</span> 人 
                            <p slot="content" v-if="showChooseUser">
                              <Tag v-for="(item, i) in selectUsers" :key="i" :name="item.id" color="default" closable @on-close="handleCancelUser">{{item.username}}</Tag>
                            </p>
                            <p slot="content" v-else>
                              <span>所有用户</span>
                            </p>
                        </Panel>
                    </Collapse>
                    </FormItem>
                  </div>
                </div>
            </Form>
            <div slot="footer">
                <Button type="text" @click="handelCancel">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="handelSubmit">提交</Button>
            </div>
        </Modal>
        <!-- Drawer抽屉式选择用户 -->
        <Drawer title="选择用户" closable v-model="userModalVisible" width="1000">
            <Form ref="searchUserForm" :model="searchUserForm" inline :label-width="70" class="search-form">
            <Form-item label="搜索用户" prop="username">
              <Input type="text" v-model="searchUserForm.username" clearable placeholder="请输入用户名" style="width: 250px"/>
            </Form-item>
            <Form-item style="margin-left:-35px;" class="br">
              <Button @click="handleSearchUser" type="primary" icon="ios-search">搜索</Button>
              <Button @click="handleResetUser">重置</Button>
            </Form-item>
          </Form>
          <Table height="490" :loading="userLoading" border :columns="userColumns" :data="userData" ref="userTable"></Table>
          <Row type="flex" justify="end" class="code-row-bg page" style="margin: 10px 0;">
            <Page :current="searchUserForm.pageNumber" :total="total" :page-size="searchUserForm.pageSize" @on-change="changeUserPage" @on-page-size-change="changeUserPageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
          </Row>
          <div class="drawer-footer">
            已选择 <span class="select-count">{{selectUserCount}}</span> 人
            <Button @click="clearSelectAllUser" style="margin-left:10px">清空已选</Button>
            <Button @click="userModalVisible=false" style="margin-left:5px" type="primary">关闭</Button>
          </div>
        </Drawer>
        <!-- Modal弹出式选择用户 -->
        <!-- <Modal title="选择用户" v-model="userModalVisible" :width="1200" :styles="{top: '30px'}">
          <Form ref="searchUserForm" :model="searchUserForm" inline :label-width="70" class="search-form">
            <Form-item label="搜索用户" prop="username">
              <Input type="text" v-model="searchUserForm.username" clearable placeholder="请输入用户名" style="width: 250px"/>
            </Form-item>
            <Form-item style="margin-left:-35px;" class="br">
              <Button @click="handleSearchUser" type="primary" icon="ios-search">搜索</Button>
              <Button @click="handleResetUser">重置</Button>
            </Form-item>
          </Form>
          <Table :loading="userLoading" border :columns="userColumns" :data="userData" ref="userTable"></Table>
          <Row type="flex" justify="end" class="code-row-bg page" style="margin-top: 10px;">
            <Page :current="searchUserForm.pageNumber" :total="total" :page-size="searchUserForm.pageSize" @on-change="changeUserPage" @on-page-size-change="changeUserPageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
          </Row>
          <div slot="footer">
            已选择 <span class="select-count">{{selectUserCount}}</span> 人
            <Button @click="clearSelectAllUser" style="margin-left:10px">清空已选</Button>
            <Button @click="userModalVisible=false" style="margin-left:5px" type="primary">关闭</Button>
          </div>
        </Modal> -->
    </div>
</template>

<script>
import {
  getUserListData,
  getMessageData,
  addMessage,
  editMessage,
  deleteMessage
} from "@/api/index";
import circleLoading from "../../my-components/circle-loading.vue";
export default {
  title: "search-table",
  components: {
    circleLoading
  },
  data() {
    return {
      loading: true, // 表单加载状态
      userLoading: true,
      operationLoading: false,
      selectCount: 0, // 多选计数
      selectList: [], // 多选数据
      selectUserCount: 0,
      selectUsers: [],
      searchForm: {
        // 搜索框对应data对象
        title: "",
        content: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "" // 终止时间
      },
      selectDate: null, // 选择日期绑定modal
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      userModalVisible: false,
      modalTitle: "", // 添加或编辑标题
      showChooseUser: false,
      form: {
        // 添加或编辑表单对象初始化数据
        title: "",
        content: "",
        type: 0,
        range: 0
      },
      searchUserForm: {
        username: "",
        type: "",
        status: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc" // 默认排序方式
      },
      formValidate: {
        // 表单验证规则
        title: [{ required: true, message: "标题不能为空", trigger: "blur" }],
        content: [{ required: true, message: "内容不能为空", trigger: "blur" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          type: "index",
          width: 60,
          align: "center"
        },
        {
          title: "消息标题",
          key: "title",
          width: 200,
          sortable: true
        },
        {
          title: "消息内容",
          key: "content",
          width: 275,
          tooltip: true
        },
        {
          title: "类型",
          key: "type",
          width: 120,
          align: "center",
          render: (h, params) => {
            let re = "";
            if (params.row.type === 0) {
              re = "系统公告";
            } else if (params.row.type === 1) {
              re = "提醒";
            } else if (params.row.type === 2) {
              re = "私信";
            }
            return h("div", re);
          }
        },
        {
          title: "新创建账号推送",
          key: "createSend",
          align: "center",
          width: 135,
          render: (h, params) => {
            if (params.row.createSend) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      color: "blue"
                    }
                  },
                  "开启"
                )
              ]);
            } else {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      color: "default"
                    }
                  },
                  "关闭"
                )
              ]);
            }
          }
        },
        {
          title: "创建时间",
          key: "createTime",
          width: 150,
          sortable: true,
          sortType: "desc"
        },
        {
          title: "操作",
          key: "action",
          width: 280,
          align: "center",
          fixed: "right",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.edit(params.row);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.sendDetail(params.row);
                    }
                  }
                },
                "查看发送详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      this.remove(params.row);
                    }
                  }
                },
                "删除撤回"
              )
            ]);
          }
        }
      ],
      userColumns: [
        {
          type: "index",
          width: 60,
          align: "center"
        },
        {
          title: "用户名",
          key: "username",
          width: 145,
          sortable: true
        },
        {
          title: "头像",
          key: "avatar",
          width: 80,
          align: "center",
          render: (h, params) => {
            return h("Avatar", {
              props: {
                src: params.row.avatar
              }
            });
          }
        },
        {
          title: "所属部门",
          key: "departmentTitle",
          width: 120
        },
        {
          title: "手机",
          key: "mobile",
          width: 115,
          sortable: true
        },
        {
          title: "邮箱",
          key: "email",
          width: 180,
          sortable: true
        },
        {
          title: "性别",
          key: "sex",
          width: 70,
          align: "center",
          render: (h, params) => {
            let re = "";
            if (params.row.sex === 1) {
              re = "男";
            } else if (params.row.sex === 0) {
              re = "女";
            }
            return h("div", re);
          }
        },
        {
          title: "用户类型",
          key: "type",
          align: "center",
          width: 100,
          render: (h, params) => {
            let re = "";
            if (params.row.type === 1) {
              re = "管理员";
            } else if (params.row.type === 0) {
              re = "普通用户";
            }
            return h("div", re);
          }
        },
        {
          title: "状态",
          key: "status",
          align: "center",
          width: 120,
          render: (h, params) => {
            if (params.row.status === 0) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      color: "green"
                    }
                  },
                  "正常启用"
                )
              ]);
            } else if (params.row.status === -1) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      color: "red"
                    }
                  },
                  "禁用"
                )
              ]);
            }
          }
        },
        {
          title: "创建时间",
          key: "createTime",
          sortable: true,
          sortType: "desc",
          width: 150
        },
        {
          title: "操作",
          key: "action",
          width: 130,
          align: "center",
          fixed: "right",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "info",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      this.chooseUser(params.row);
                    }
                  }
                },
                "添加该用户"
              )
            ]);
          }
        }
      ],
      data: [], // 表单数据
      userData: [],
      total: 0, // 表单数据总数
      totalUser: 0
    };
  },
  methods: {
    init() {
      this.getDataList();
      this.getUserDataList();
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    changeUserPage(v) {
      this.searchUserForm.pageNumber = v;
      this.getUserDataList();
    },
    changeUserPageSize(v) {
      this.searchUserForm.pageSize = v;
      this.getUserDataList();
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    getDataList() {
      this.loading = true;
      getMessageData(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
        }
      });
    },
    getUserDataList() {
      this.userLoading = true;
      getUserListData(this.searchUserForm).then(res => {
        this.userLoading = false;
        if (res.success === true) {
          this.userData = res.result.content;
          this.totalUser = res.result.totalElements;
        }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";
      // 重新加载数据
      this.getDataList();
    },
    handleSearchUser() {
      this.searchUserForm.pageNumber = 1;
      this.searchUserForm.pageSize = 10;
      this.getUserDataList();
    },
    handleResetUser() {
      this.$refs.searchForm.resetFields();
      this.searchUserForm.pageNumber = 1;
      this.searchUserForm.pageSize = 10;
      // 重新加载数据
      this.getUserDataList();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    handelCancel() {
      this.modalVisible = false;
    },
    handelSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.form.id;
            // 用户id数据
            let ids = [];
            this.selectUsers.forEach(e => {
              ids += e.id + ",";
            });
            if (ids.length > 0) {
              ids = ids.substring(0, ids.length - 1);
            }
            this.form.userIds = ids;
            addMessage(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
                this.modalVisible = false;
              }
            });
          } else if (this.modalType === 1) {
            // 编辑
            editMessage(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
                this.modalVisible = false;
              }
            });
          }
        }
      });
    },
    changeRange(v) {
      if (v == 0) {
        this.showChooseUser = false;
        this.selectUserCount = this.totalUser;
      } else {
        this.showChooseUser = true;
        this.clearSelectAllUser();
      }
    },
    add() {
      this.modalType = 0;
      this.modalTitle = "发送新消息";
      this.$refs.form.resetFields();
      this.clearSelectAllUser();
      this.form = {
        title: "",
        content: "",
        type: 0,
        range: 0,
        createSend: false
      };
      this.selectUserCount = this.totalUser;
      this.showChooseUser = false;
      this.modalVisible = true;
    },
    edit(v) {
      this.modalType = 1;
      this.modalTitle = "编辑消息";
      this.$refs.form.resetFields();
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.form = data;
      this.modalVisible = true;
    },
    sendDetail(v) {
      let query = { id: v.id };
      this.$router.push({
        name: "message_send_detail",
        query: query
      });
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.title + " ?",
        onOk: () => {
          // 删除
          this.operationLoading = true;
          deleteMessage(v.id).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getDataList();
            }
          });
        }
      });
    },
    showSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    chooseUser(v) {
      // 去重
      let that = this;
      let flag = true;
      this.selectUsers.forEach(e => {
        if (v.id == e.id) {
          that.$Message.warning("刚才已经选择过啦，请勿重复选择");
          flag = false;
        }
      });
      if (flag) {
        let u = {
          id: v.id,
          username: v.username
        };
        this.selectUsers.push(u);
        this.selectUserCount += 1;
        this.$Message.success("选择成功");
      }
    },
    handleCancelUser(e, id) {
      // 删除所选用户
      let newArray = [];
      this.selectUsers.forEach(e => {
        if (id != e.id) {
          newArray.push(e);
        }
      });
      this.selectUsers = newArray;
      this.selectUserCount = newArray.length;
      this.$Message.success("删除所选用户成功");
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    clearSelectAllUser() {
      this.selectUserCount = 0;
      this.selectUsers = [];
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          this.operationLoading = true;
          deleteMessage(ids).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.clearSelectAll();
              this.getDataList();
            }
          });
        }
      });
    }
  },
  mounted() {
    this.init();
  }
};
</script>