<style lang="less">
@import "./studentManage.less";
</style>
<template>
    <div class="search">
        <Row>
            <Col>
                <Card>
                    <Row>
                        <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                            <Form-item label="学号" prop="cardId">
                              <Input type="text" v-model="searchForm.cardId" placeholder="请输入" clearable style="width: 200px"/>
                            </Form-item>
                            <Form-item label="姓名" prop="name">
                              <Input type="text" v-model="searchForm.name" placeholder="请输入" clearable style="width: 200px"/>
                            </Form-item>
                            <span v-if="drop">
                              <Form-item label="系部" prop="department">
                                <Cascader v-model="selectDep" :data="department" :load-data="loadDepData" @on-change="handleChangeDep" change-on-select filterable placeholder="请选择或输入搜索系部" style="width: 200px"></Cascader>
                              </Form-item>
                              <Form-item label="班级" prop="clazz">
                                <Cascader v-model="selectClazz" :data="clazz" @on-change="handleChangeClazz" filterable placeholder="请选择或输入搜索班级" style="width: 200px"></Cascader>
                              </Form-item>
                              <Form-item label="宿舍楼栋" prop="build">
                                <Cascader v-model="selectBuild" :data="build" @on-change="handleChangeBuild" filterable placeholder="请选择或输入搜索楼栋" ></Cascader>
                              </Form-item>
                              <Form-item label="宿舍号" prop="room">
                                <Cascader v-model="selectRoom" :data="room" @on-change="handleChangeRoom" filterable placeholder="请选择或输入搜索宿舍" ></Cascader>
                              </Form-item>
                              <Form-item label="状态" prop="status">
                                <Select v-model="searchForm.status" placeholder="请选择" clearable style="width: 200px">
                                  <Option value="0">未注册</Option>
                                  <Option value="1">在校</Option>
                                  <Option value="-1">禁用</Option>
                                </Select>
                              </Form-item>
                              <Form-item label="创建时间">
                                <DatePicker v-model="selectDate" type="daterange" format="yyyy-MM-dd" clearable @on-change="selectDateRange" placeholder="选择起始时间" style="width: 200px"></DatePicker>
                              </Form-item>
                            </span>
                            <Form-item style="margin-left:-35px;" class="br">
                              <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                              <Button @click="handleReset" >重置</Button>
                              <a class="drop-down" @click="dropDown">{{dropDownContent}}
                                <Icon :type="dropDownIcon"></Icon>
                              </a>
                            </Form-item>
                        </Form>
                    </Row>
                    <Row class="operation">
                        <Button @click="add" type="primary" icon="md-add">添加</Button>
                        <Button @click="delAll" icon="md-trash">批量删除</Button>
                        <Dropdown @on-click="handleDropdown">
                          <Button>
                              更多操作
                              <Icon type="md-arrow-dropdown" />
                          </Button>
                          <DropdownMenu slot="list">
                              <DropdownItem name="refresh">刷新</DropdownItem>
                              <DropdownItem name="exportData">导出所选数据</DropdownItem>
                              <DropdownItem name="exportAll">导出全部数据</DropdownItem>
                              <DropdownItem name="importData">导入数据</DropdownItem>
                          </DropdownMenu>
                        </Dropdown>
                        <circleLoading v-if="operationLoading"/>
                    </Row>
                    <Row>
                        <Alert show-icon>
                            已选择 <span class="select-count">{{selectCount}}</span> 项
                            <a class="select-clear" @click="clearSelectAll">清空</a>
                        </Alert>
                    </Row>
                    <Row>
                        <Table :loading="loading" border :columns="columns" :data="data" sortable="custom" @on-sort-change="changeSort" @on-selection-change="showSelect" ref="table"></Table>
                        <Table :columns="exportColumns" :data="exportData" ref="exportTable" style="display:none" ></Table>
                    </Row>
                    <Row type="flex" justify="end" class="page">
                        <Page :current="searchForm.pageNumber" :total="total" :page-size="searchForm.pageSize" @on-change="changePage" @on-page-size-change="changePageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
        <Modal :title="modalTitle" v-model="modalVisible" :mask-closable='false' :width="500" :styles="{top: '30px'}">
            <Form ref="studentForm" :model="studentForm" :label-width="70" :rules="formValidate">
                <FormItem label="学号" prop="cardId">
                    <Input v-model="studentForm.cardId" />
                </FormItem>
                <FormItem label="姓名" prop="name">
                    <Input v-model="studentForm.name" />
                </FormItem>
                <Form-item label="所属系部" prop="departmentName">
                  <Poptip trigger="click" placement="right" title="选择系部" width="250">
                    <div style="display:flex;">
                      <Input v-model="studentForm.departmentName" readonly style="margin-right:10px;"/>
                      <Button icon="md-trash" @click="clearSelectDep">清空已选</Button>
                    </div>
                    <div slot="content">
                      <Tree :data="dataDep" :load-data="loadDepDataTree" @on-select-change="selectDepTree"></Tree>
                      <Spin size="large" fix v-if="loading"></Spin>
                    </div>
                  </Poptip>
                </Form-item>
                <Form-item label="所属班级" prop="className">
                  <Poptip trigger="click" placement="right" title="选择班级" width="250">
                    <div style="display:flex;">
                      <Input v-model="studentForm.className" readonly style="margin-right:10px;"/>
                      <Button icon="md-trash" @click="clearSelectClazz">清空已选</Button>
                    </div>
                    <div slot="content" style="height: 400px;overflow:visible;"  >
                      <Tree :data="dataClass" @on-select-change="selectClassTree" ></Tree>
                      <Spin size="large" fix v-if="loading"></Spin>
                    </div>
                  </Poptip>
                </Form-item>
                <Form-item label="所属楼栋" prop="buildName">
                  <Poptip trigger="click" placement="right" title="选择楼栋" width="250">
                    <div style="display:flex;">
                      <Input v-model="studentForm.buildName" readonly style="margin-right:10px;"/>
                      <Button icon="md-trash" @click="clearSelectBuild">清空已选</Button>
                    </div>
                    <div slot="content" style="height: 400px;overflow:visible;"  >
                      <Tree :data="dataBuild" @on-select-change="selectBuildTree" ></Tree>
                      <Spin size="large" fix v-if="loading"></Spin>
                    </div>
                  </Poptip>
                </Form-item>
                <Form-item label="所属宿舍" prop="roomName">
                  <Poptip trigger="click" placement="right" title="选择宿舍" width="250">
                    <div style="display:flex;">
                      <Input v-model="studentForm.roomName" readonly style="margin-right:10px;"/>
                      <Button icon="md-trash" @click="clearSelectRoom">清空已选</Button>
                    </div>
                    <div slot="content" style="height: 400px;overflow:visible;"  >
                      <Tree :data="dataRoom" @on-select-change="selectRoomTree" ></Tree>
                      <Spin size="large" fix v-if="loading"></Spin>
                    </div>
                  </Poptip>
                </Form-item>
            </Form>
            <div slot="footer">
                <Button type="text" @click="handleCancel">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="handleSubmit">提交</Button>
            </div>
        </Modal>
        <Modal title="图片预览" v-model="viewImage" :styles="{top: '30px'}">
          <img :src="studentForm.avatar" alt="无效的图片链接" style="width: 100%;margin: 0 auto;display: block;">
        </Modal>
        <Modal
            v-model="modalExportAll"
            title="确认导出"
            :loading="loadingExport"
            @on-ok="exportAll">
            <p>您确认要导出全部 {{total}} 条数据？</p>
        </Modal>
        <Drawer title="导入数据" closable v-model="importModalVisible" width="1000">
            <Upload action="" :before-upload="beforeUploadImport" accept=".xls, .xlsx">
                <Button icon="ios-cloud-upload-outline" style="margin-right:10px">上传Excel文件</Button>
                <span v-if="uploadfile.name!=''">当前选择文件：{{ uploadfile.name }}</span>
            </Upload>
            <Alert type="warning" show-icon>
                导入前请下载查看导入模版数据文件，确保数据格式正确，不得修改列英文名称。必需数据字段：用户名(唯一)、密码(明文)
            </Alert>
            <Table :columns="importColumns" border height="510" :data="importTableData" ref="importTable"></Table>
            <div class="drawer-footer">
                <Button @click="downloadTemple" type="info" style="position:absolute;left:15px;">下载导入模板</Button>
                <Button @click="importModalVisible=false">关闭</Button>
                <Button :loading="importLoading" :disabled="importTableData.length<=0" @click="importData" style="margin-left:5px" type="primary">
                    确认导入<span v-if="importTableData.length>0"> {{importTableData.length}} 条数据</span>
                </Button>
            </div>
        </Drawer>
    </div>
</template>

<script>
import {
  getStudentList,
  getStudentAll,
  initClazz,
  loadClazzByDeparmentId,
  initBuild,
  loadRoomByBuildId,
  getStudentByCardId,
  updateExceptStatus,
  updateStatusDisable,
  updateStatusEnable,
  resetPassword,
  saveStudent,
  updateRoomChiefById
} from "@/api/wenli";
import {
  initDepartment,
  loadDepartment
} from "@/api/index";
import circleLoading from "../../my-components/circle-loading.vue";
// 模版导入文件表数据
import { userColumns, userData } from "@/libs/importTemplate";
import excel from "@/libs/excel";
export default {
  name: "complex-table",
  components: {
    circleLoading
  },
  data() {
    const validateCardId = (rule, value, callback) => {
      if (!Number.isInteger(+value)) {
        callback(new Error("请输入正确的学号"));
      } else {
        // 学号未改变
        if (this.oldCardId === value) {
          callback();
        } else {
          getStudentByCardId(value).then(res => {
            if (res.success === true) {
              callback(new Error("该学号已占用"));
            } else {
              callback();
            }
          });
        }
      }
    };
    return {
      accessToken: {}, // 图片上传接口所需token
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      importLoading: false,
      modalExportAll: false, // 显示导出全部数据
      loadingExport: true, // 导出全部数据状态
      drop: false, // 搜索展开标识
      dropDownContent: "展开", // 搜索展开标识文字
      dropDownIcon: "ios-arrow-down", //搜索展开图标
      selectCount: 0, // 多选计数
      selectList: [], // 多选数据
      viewImage: false, // 图片预览标识
      oldCardId: "",// 为了去保存看是否修改了学号
      department: [],
      clazz: [],
      build: [],
      room: [],
      selectDep: [], // 搜索选择类别modal
      selectClazz: [],
      selectBuild: [],
      selectRoom: [],
      dataDep: [], // 编辑添加类别数据
      dataClass: [],
      dataBuild: [],
      dataRoom: [],
      searchForm: {
        cardId: "",
        // 搜索框对应data对象
        name: "",
        departmentId: "",
        classId: "",
        buildId: "",
        roomId: "",
        status: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "" // 终止时间
      },
      selectDate: null, // 选择日期绑定modal
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      importModalVisible: false,
      modalTitle: "", // 添加或编辑标题
      studentForm: {
        // 添加或编辑表单对象初始化数据
        name: "",
        cardId: "",
        departmentId: "",
        departmentName: "",
        className: "",
        classId: "",
        buildId: "",
        buildName: "",
        roomId: "",
        roomName: ""
      },
      errorPass: "", // 密码错误提示
      formValidate: {
        // 表单验证规则
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
        cardId: [{ required: true, message: "不能为空", trigger: "blur" },{validator: validateCardId, trigger: "blur"}],
        departmentId: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      columns: [
        {
          type: "selection",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          type: "index",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          title: "学号",
          key: "cardId",
          width: 150,
          sortable: true,
          fixed: "left"
        },
        {
          title: "姓名",
          key: "name",
          width: 150,
          align: "center",
          sortable: true
        },
        {
          title: "系部",
          key: "departmentName",
          width: 150
        },
        {
          title: "班级",
          key: "className",
          align: "center",
          width: 150
        },
        {
          title: "楼栋",
          key: "buildName",
          align: "center",
          width: 150
        },
        {
          title: "寝室号",
          key: "roomName",
          align: "center",
          width: 150
        },
        {
          title: "状态",
          key: "status",
          align: "center",
          width: 150,
          render: (h, params) => {
            let re = "";
            if (params.row.status === 0) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot"
                    }
                  },
                  "未注册"
                )
              ]);
            } else if (params.row.status === -1) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot",
                      color: "error"
                    }
                  },
                  "离校"
                )
              ]);
            } else if (params.row.status === 1) {
              return h("div", [
                h(
                  "Tag",
                  {
                    props: {
                      type: "dot",
                      color: "success"
                    }
                  },
                  "在校"
                )
              ]);
            }
          },
          filters: [
            {
              label: "未注册",
              value: 0
            },
            {
              label: "禁用",
              value: -1
            },
            {
              label: "在校",
              value: 1
            }
          ],
          filterMultiple: false,
          filterMethod(value, row) {
            if (value === 0) {
              return row.status === 0;
            } else if (value === 1) {
              return row.status === 1;
            } else if (value === -1) {
              return row.status === -1;
            } 
          }
        },
        {
          title: "创建时间",
          key: "createTime",
          sortable: true,
          sortType: "desc",
          width: 180
        },
        {
          title: "操作",
          key: "action",
          width: 170,
          align: "center",
          fixed: "right",
          render: (h, params) => {
            if (params.row.status === 0) {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.edit(params.row);
                      }
                    }
                  },
                  "编辑"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "error",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.disable(params.row);
                      }
                    }
                  },
                  "禁用"
                )
              ]);
            } else if (params.row.status === 1) {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.edit(params.row);
                      }
                    }
                  },
                  "编辑"
                ),
                h(
                  "Dropdown",
                  {
                    props: {transfer:true},
                    on: {
                      "on-click": v => {
                        this.changeDropDown(params.row, v);
                      }
                    }
                  },
                  [
                    h(
                      "Button",
                      {
                        props: { size: "small"  },
                        style: {
                          height: "23.5px",
                        }
                      },
                      "更多操作 ∨"
                    ),
                    h("DropdownMenu", { slot: "list"  }, [
                      h("DropdownItem", { props: { name: "disable" } }, "禁用"),
                      h("DropdownItem", { props: { name: "reset" } }, "重置密码"),
                      h("DropdownItem", { props: { name: "chief" } }, "寝室长设置")
                    ])
                  ]
                )/*,
                h(
                  "Button",
                  {
                    props: {
                      type: "success",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.reset(params.row);
                      }
                    }
                  },
                  "重置密码"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "error",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.disable(params.row);
                      }
                    }
                  },
                  "禁用"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    on: {
                      click: () => {
//                        this.disable(params.row);
                      }
                    }
                  },
                  "寝室长设置"
                )*/
              ]);
            } else if(params.row.status === -1) {} {
              return h("div", [
               h(
                  "Button",
                  {
                    props: {
                      type: "success",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.enable(params.row);
                      }
                    }
                  },
                  "启用"
                )
              ]);
            }
          }
        }
      ],
      exportColumns: [
        {
          title: "学号",
          key: "cardId"
        },
        {
          title: "名称",
          key: "name"
        },
        {
          title: "系部",
          key: "departmentName"
        },
        {
          title: "班级",
          key: "className"
        },
        {
          title: "楼栋",
          key: "buildName"
        },
        {
          title: "宿舍",
          key: "roomName"
        },
        {
          title: "状态",
          key: "status"
        },
        {
          title: "创建时间",
          key: "createTime"
        }
      ],
      importTableData: [],
      importColumns: [],
      uploadfile: {
         name: ""
      },
      tempColumns: userColumns,
      tempData: userData,
      data: [], // 表单数据
      exportData: [], // 导出数据
      total: 0 // 表单数据总数
    };
  },
  methods: {
    init() {
      this.accessToken = {
        accessToken: this.getStore("accessToken")
      };
      this.getAllStudentList();
      // 初始化搜索框级联分类数据
      this.initDepartmentData();
      // 初始化编辑添加树形分类数据
      this.initDepartmentForEdit();
      // 
      this.initClazzData();
      //
      this.initClazzForEdit();
      //
      this.initBuildData();
      this.initBuildForEdit();
    },
    initDepartmentData() {
      initDepartment().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          this.department = res.result;
        }
      });
    },
    initClazzData() {
      if (this.searchForm.departmentId == "") {
        initClazz().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            e.value = e.id;
            e.label = e.name;
          });
          this.clazz = res.result;
        }
        });
      } else {
        loadClazzByDeparmentId(this.searchForm.departmentId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.clazz = res.result;
          }
        });
      }
    },
    initBuildData() {
      initBuild().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            e.value = e.id;
            e.label = e.name;
          });
          this.build = res.result;
        }
      });
    },
    initRoomData() {
      if (this.searchForm.buildId == "") {
        this.room = [];
      } else {
        loadRoomByBuildId(this.searchForm.buildId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.room = res.result;
          }
        });
      }
    },
    initDepartmentForEdit() {
      initDepartment().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.loading = false;
              e.children = [];
            }
            if (e.status === -1) {
              e.title = "[已禁用] " + e.title;
              e.disabled = true;
            }
          });
          this.dataDep = res.result;
        }
      });
    },
    initClazzForEdit() {
      if (this.studentForm.departmentId == "") {
        initClazz().then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              // e.value = e.id;
              e.title = e.name;
            });
            this.dataClass = res.result;
          }
        });
      } else {
        loadClazzByDeparmentId(this.studentForm.departmentId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              // e.value = e.id;
              e.title = e.name;
            });
            this.dataClass = res.result;
          }
        });
      }
    },
    initBuildForEdit() {
      initBuild().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            // e.value = e.id;
            e.title = e.name;
          });
          this.dataBuild = res.result;
        }
      });
    },
    initRoomForEdit() {
      if (this.studentForm.buildId == "") {
        this.dataRoom = [];
      } else {
        loadRoomByBuildId(this.studentForm.buildId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              // e.value = e.id;
              e.title = e.name;
            });
            this.dataRoom = res.result;
          }
        });
      }
    },
    loadDepData(item, callback) {
      item.loading = true;
      loadDepartment(item.value).then(res => {
        item.loading = false;
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          item.children = res.result;
          callback();
        }
      });
    },
    loadDepDataTree(item, callback) {
      loadDepartment(item.id).then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.loading = false;
              e.children = [];
            }
            if (e.status === -1) {
              e.title = "[已禁用] " + e.title;
              e.disabled = true;
            }
          });
          callback(res.result);
        }
      });
    },
    selectDepTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.studentForm.departmentId = data.id;
        this.studentForm.departmentName = data.title;
        // 刷新班级数据
        this.clearSelectClazz(); 
      }
    },
    selectClassTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.studentForm.classId = data.id;
        this.studentForm.className = data.name;
      }
    },
    selectBuildTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.studentForm.buildId = data.id;
        this.studentForm.buildName = data.name;
      }
      // 刷新数据
      this.clearSelectRoom();
    },
    selectRoomTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.studentForm.roomId = data.id;
        this.studentForm.roomName = data.name;
      }
    },
    clearSelectDep() {
      this.studentForm.departmentId = "";
      this.studentForm.departmentName = "";
      // 刷新班级数据
      this.clearSelectClazz();
    },
    clearSelectClazz() {
      this.studentForm.classId = "";
      this.studentForm.className = "";
      this.initClazzForEdit();
    },
    clearSelectBuild() {
      this.studentForm.buildId = "";
      this.studentForm.buildName = "";
      this.clearSelectRoom();
    },
    clearSelectRoom() {
      this.studentForm.roomId = "";
      this.studentForm.roomName = "";
      // 刷新数据
      this.initRoomForEdit();
    },
    handleChangeDep(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.departmentId = value[value.length - 1];
      } else {
        this.searchForm.departmentId = "";
      }
      // 重新刷新 班级里的数据
      this.initClazzData();
    },
    handleChangeClazz(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.classId = value[value.length - 1];
      } else {
        this.searchForm.classId = "";
      }
    },
    handleChangeBuild(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.buildId = value[value.length - 1];
      } else {
        this.searchForm.buildId = "";
      }
      // 选中楼栋后，再去获取宿舍数据
      this.initRoomData();
    },
    handleChangeRoom(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.roomId = value[value.length - 1];
      } else {
        this.searchForm.roomId = "";
      }
    },
    handleChangeUserFormDep(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.studentForm.departmentId = value[value.length - 1];
      } else {
        this.studentForm.departmentId = "";
      }
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getAllStudentList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getAllStudentList();
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    getAllStudentList() {
      // 多条件搜索获取表格数据
      this.loading = true;
      getStudentList(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
          this.data = res.result.content;
          this.total = res.result.totalElements;
        }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getAllStudentList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      this.searchForm.startDate = "";
      this.searchForm.endDate = "";
      // select data
      this.selectDep = [];
      this.selectClazz = [];
      this.selectBuild = [];
      this.selectRoom = [];

      this.searchForm.departmentId = "";
      this.searchForm.cardId = "";
      this.searchForm.name = "";
      this.searchForm.classId = "";
      this.searchForm.status = "";
      this.searchForm.buildId = "";
      this.searchForm.roomId = "";

      this.room = [];
      // 重新加载数据
      this.getAllStudentList();
      this.initClazzData();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getAllStudentList();
    },
    handleDropdown(name) {
      if (name === "refresh") {
        this.getAllStudentList();
      } else if (name === "exportData") {
        if (this.selectCount <= 0) {
          this.$Message.warning("您还未选择要导出的数据");
          return;
        }
        this.$Modal.confirm({
          title: "确认导出",
          content: "您确认要导出所选 " + this.selectCount + " 条数据?",
          onOk: () => {
            this.$refs.exportTable.exportCsv({
              filename: "导出数据"
            });
          }
        });
      } else if (name === "exportAll") {
        this.modalExportAll = true;
      } else if (name === "importData") {
          this.importModalVisible = true;
      }
    },
    exportAll() {
      getStudentAll().then(res => {
        this.modalExportAll = false;
        if (res.success === true) {
            this.exportData = res.result;
            setTimeout(() => {
                this.$refs.exportTable.exportCsv({
                    filename: "用户全部数据"
                });
            }, 2000);
        }
      });
    },
    handleCancel() {
      this.modalVisible = false;
    },
    beforeUploadImport(file) {
      this.uploadfile = file;
      const fileExt = file.name.split(".").pop().toLocaleLowerCase();
      if (fileExt === "xlsx" || fileExt === "xls") {
          this.readFile(file);
          this.file = file;
      } else {
          this.$Notice.warning({
              title: "文件类型错误",
              desc:
              "所选文件‘ " +
              file.name +
              " ’不是EXCEL文件，请选择后缀为.xlsx或者.xls的EXCEL文件。"
          });
      }
      return false;
    },
    // 读取文件
    readFile(file) {
      const reader = new FileReader();
      reader.readAsArrayBuffer(file);
      reader.onerror = e => {
          this.$Message.error("文件读取出错");
      };
      reader.onload = e => {
          this.$Message.success("读取数据成功");
          const data = e.target.result;
          const { header, results } = excel.read(data, "array");
          const tableTitle = header.map(item => {
              return { title: item, key: item };
          });
          this.importTableData = results;
          this.importColumns = tableTitle;
      };
    },
    downloadTemple() {
      let title = [];
      let key = [];
      userColumns.forEach(e => {
          title.push(e.title);
          key.push(e.key);
      });
      const params = {
          title: title,
          key: key,
          data: userData,
          autoWidth: true,
          filename: "导入用户数据模版"
      };
      excel.export_array_to_excel(params);
    },
      importData() {
          this.importLoading = true;
//          importUserData(this.importTableData).then(res => {
//              this.importLoading = false;
//              if (res.success) {
//                  this.importModalVisible = false;
//                  this.getUserList();
//                  this.$Modal.info({
//                      title: "导入结果",
//                      content: res.message
//                  });
//              }
//          });
        this.importModalVisible = false;
        this.$Modal.info({
          title: "导入结果",
          content: true
        });
      },
    handleSubmit() {
      this.$refs.studentForm.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.studentForm.id;
            delete this.studentForm.status;
            saveStudent(this.studentForm).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                 this.$Message.success("操作成功");
                 this.getAllStudentList();
                 this.modalVisible = false;
               }
            });

          } else if (this.modalType === 1) {
            // 编辑
            updateExceptStatus(this.studentForm).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getAllStudentList();
                this.modalVisible = false;
              }
            });
          }
        }
      });
    },
    viewPic() {
      this.viewImage = true;
    },
    handleFormatError(file) {
      this.$Notice.warning({
        title: "不支持的文件格式",
        desc:
          "所选文件‘ " +
          file.name +
          " ’格式不正确, 请选择 .jpg .jpeg .png .gif格式文件"
      });
    },
    handleMaxSize(file) {
      this.$Notice.warning({
        title: "文件大小过大",
        desc: "所选文件‘ " + file.name + " ’大小过大, 不得超过 5M."
      });
    },
    beforeUpload() {
      // if (!this.$route.meta.permTypes.includes("upload")) {
      //   this.$Message.error("抱歉您没有上传权限");
      //   return false;
      // }
      return true;
    },
    handleSuccess(res, file) {
      if (res.success === true) {
        file.url = res.result;
        this.studentForm.avatar = res.result;
      } else {
        this.$Message.error(res.message);
      }
    },
    handleError(error, file, fileList) {
      this.$Message.error(error.toString());
    },
    add() {
      this.modalType = 0;
      this.modalTitle = "添加";
      this.$refs.studentForm.resetFields();
      // 把保存之前的学号置空
      this.oldCardId = "";
      this.modalVisible = true;
    },
    edit(v) {
      this.modalType = 1;
      this.modalTitle = "编辑";
      this.$refs.studentForm.resetFields();
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.studentForm = data;
      // 保存之前的学号
      this.oldCardId = this.studentForm.cardId;
      this.modalVisible = true;
    },
    enable(v) {
      this.$Modal.confirm({
        title: "确认启用",
        // 记得确认修改此处
        content: "您确认要启用 " + v.name + " ?",
        onOk: () => {
          this.operationLoading = true;
          updateStatusEnable(v).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getAllStudentList();
            }
          })
        }
      });
    },
    disable(v) {
      this.$Modal.confirm({
        title: "确认禁用",
        // 记得确认修改此处
        content: "您确认要禁用 " + v.name + " ?",
        onOk: () => {
          this.operationLoading = true;
          updateStatusDisable(v).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getAllStudentList();
            }
          })
        }
      });
    },
    reset(v) {
      this.$Modal.confirm({
        title: "确认重置",
        // 记得确认修改此处
        content: "您确认要重置 " + v.name + "的密码 ?",
        onOk: () => {
          // 删除
          this.operationLoading = true;
          resetPassword(v).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getAllStudentList();
            }
          });
        }
      });
    },
    chief(v) {
      this.$Modal.confirm({
        title: "确认修改",
        // 记得确认修改此处
        content: "您确认要修改 " + v.name + "为宿舍寝室长 ?",
        onOk: () => {
          this.operationLoading = true;
          updateRoomChiefById(v.id).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
              this.$Message.success("操作成功");
              this.getAllStudentList();
            }
          });
        }
      });
    },
    dropDown() {
      if (this.drop) {
        this.dropDownContent = "展开";
        this.dropDownIcon = "ios-arrow-down";
      } else {
        this.dropDownContent = "收起";
        this.dropDownIcon = "ios-arrow-up";
      }
      this.drop = !this.drop;
    },
    showSelect(e) {
      this.exportData = e;
      this.selectList = e;
      this.selectCount = e.length;
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
          // this.operationLoading = true;
          // this.deleteRequest("请求地址，如/deleteByIds/" + ids).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.clearSelectAll();
          //     this.getDataList();
          //   }
          // });
          // 模拟请求成功
          this.$Message.success("操作成功");
          this.clearSelectAll();
          this.getAllStudentList();
        }
      });
    },
    changeDropDown(row, v) {
      // this.$Message.info("点击了 " + row.name + " 的 " + v);
      if (v === 'chief') {
        this.chief(row);
      } else if (v === 'reset') {
        this.reset(row);
      } else if (v === 'disable') {
        this.disable(row);
      }
    },
  },
  mounted() {
    this.init();
  }
};
</script>