<style lang="less">
@import "roomManage.less";
</style>
<template>
    <div class="search">
        <Row>
            <Col>
                <Card>
                    <Row>
                        <Form ref="searchForm" :model="searchForm" inline :label-width="70" class="search-form">
                            <Form-item label="名称" prop="name">
                              <Input type="text" v-model="searchForm.name" placeholder="请输入" clearable style="width: 200px"/>
                            </Form-item>
                            <Form-item label="楼栋" prop="build">
                                <Cascader v-model="selectBuild" :data="build" @on-change="handleChangeBuild" filterable placeholder="请选择或输入搜索楼栋" ></Cascader>
                            </Form-item>
                            <Form-item label="系部" prop="department">
                                <Cascader v-model="selectDep" :data="department" :load-data="loadDepData" @on-change="handleChangeDep" change-on-select filterable placeholder="请选择或输入搜索系部" style="width: 200px"></Cascader>
                            </Form-item>
                            <Form-item label="班级" prop="clazz">
                                <Cascader v-model="selectClazz" :data="clazz" @on-change="handleChangeClazz" filterable placeholder="请选择或输入搜索班级" style="width: 200px"></Cascader>
                            </Form-item>
                            <Form-item style="margin-left:-35px;" class="br">
                              <Button @click="handleSearch" type="primary" icon="ios-search">搜索</Button>
                              <Button @click="handleReset" >重置</Button>
                            </Form-item>
                        </Form>
                    </Row>
                    <Row class="operation">
                        <Button @click="add" type="primary" icon="md-add">添加</Button>
                        <Button @click="delAll" icon="md-trash">批量删除</Button>
                        <Button @click="getDataList" icon="md-refresh">刷新</Button>
                        <circleLoading v-if="operationLoading"/>
                    </Row>
                    <Row>
                        <Alert show-icon>
                            已选择 <span class="select-count">{{selectCount}}</span> 项
                            <a class="select-clear" @click="clearSelectAll">清空</a>
                        </Alert>
                    </Row>
                    <Row>
                        <Table :loading="loading" border :columns="columns" :data="data" sortable="custom" @on-sort-change="changeSort" @on-selection-change="showSelect" ref="table"></Table>
                    </Row>
                    <Row type="flex" justify="end" class="page">
                        <Page :current="searchForm.pageNumber" :total="total" :page-size="searchForm.pageSize" @on-change="changePage" @on-page-size-change="changePageSize" :page-size-opts="[10,20,50]" size="small" show-total show-elevator show-sizer></Page>
                    </Row>
                </Card>
            </Col>
        </Row>
        <Modal :title="modalTitle" v-model="modalVisible" :mask-closable='false' :width="500" :styles="{top: '30px'}">
            <Form ref="form" :model="form" :label-width="70" :rules="formValidate">
                <FormItem label="名称" prop="name">
                    <Input v-model="form.name"/>
                </FormItem>
                <Form-item label="所属楼栋" prop="buildName">
                    <Poptip trigger="click" placement="right" title="选择楼栋" width="250">
                        <div style="display:flex;">
                            <Input v-model="form.buildName" readonly style="margin-right:10px;"/>
                            <Button icon="md-trash" @click="clearSelectBuild">清空已选</Button>
                        </div>
                        <div slot="content" style="height: 400px;overflow:visible;"  >
                            <Tree :data="dataBuild" @on-select-change="selectBuildTree" ></Tree>
                            <Spin size="large" fix v-if="loading"></Spin>
                        </div>
                    </Poptip>
                </Form-item>
                <Form-item label="所属系部" prop="departmentName">
                    <Poptip trigger="click" placement="right" title="选择系部" width="250">
                        <div style="display:flex;">
                            <Input v-model="form.departmentName" readonly style="margin-right:10px;"/>
                            <Button icon="md-trash" @click="clearSelectDep">清空已选</Button>
                        </div>
                        <div slot="content">
                            <Tree :data="dataDep" :load-data="loadDepDataTree" @on-select-change="selectDepTree"></Tree>
                            <Spin size="large" fix v-if="loading"></Spin>
                        </div>
                    </Poptip>
                </Form-item>
                <Form-item label="所属班级" prop="className">
                    <Poptip trigger="click" placement="right" title="选择班级" width="250">
                        <div style="display:flex;">
                            <Input v-model="form.className" readonly style="margin-right:10px;"/>
                            <Button icon="md-trash" @click="clearSelectClazz">清空已选</Button>
                        </div>
                        <div slot="content" style="height: 400px;overflow:visible;"  >
                            <Tree :data="dataClass" @on-select-change="selectClassTree" ></Tree>
                            <Spin size="large" fix v-if="loading"></Spin>
                        </div>
                    </Poptip>
                </Form-item>
            </Form>
            <div slot="footer">
                <Button type="text" @click="handelCancel">取消</Button>
                <Button type="primary" :loading="submitLoading" @click="handelSubmit">提交</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
import {
  initBuild,
  initClazz,
  loadClazzByDeparmentId,
  getRoomList,
  saveRoom,
  updateRoomById,
  deleteRoom
} from "@/api/wenli";
import {
  initDepartment,
  loadDepartment
} from "@/api/index";
import circleLoading from "../../my-components/circle-loading.vue";
export default {
  name: "search-table",
  components: {
    circleLoading
  },
  data() {
    return {
      loading: true, // 表单加载状态
      operationLoading: false, // 操作加载状态
      selectCount: 0, // 多选计数
      selectList: [], // 多选数据
      searchForm: {
        // 搜索框对应data对象
        name: "",
        departmentId: "",
        classId: "",
        buildId: "",
        pageNumber: 1, // 当前页数
        pageSize: 10, // 页面大小
        sort: "createTime", // 默认排序字段
        order: "desc", // 默认排序方式
        startDate: "", // 起始时间
        endDate: "" // 终止时间
      },
      selectDate: null, // 选择日期绑定modal
      modalType: 0, // 添加或编辑标识
      modalVisible: false, // 添加或编辑显示
      modalTitle: "", // 添加或编辑标题
      department: [],
      clazz: [],
      build: [],
      selectDep: [],
      selectClazz: [],
      selectBuild: [],
      dataDep: [], // 编辑添加类别数据
      dataClass: [],
      dataBuild: [],
      form: {
        name: "",
        departmentId: "",
        departmentName: "",
        className: "",
        classId: "",
        buildId: "",
        buildName: "",
      },
      formValidate: {
        // 表单验证规则
        name: [{ required: true, message: "不能为空", trigger: "blur" }]
      },
      submitLoading: false, // 添加或编辑提交状态
      columns: [
        // 表头
        {
          type: "selection",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          type: "index",
          width: 60,
          align: "center",
          fixed: "left"
        },
        {
          title: "楼栋",
          key: "buildName",
          width: 150,
          fixed: "left"
        },
        {
          title: "名称",
          key: "name",
          width: 120,
          sortable: true
        },
        {
          title: "系部",
          key: "departmentName",
          width: 180,
        },
        {
          title: "班级",
          key: "className",
          width: 180,
        },
        {
          title: "寝室长",
          key: "studentName",
          width: 180,
        },
        {
          title: "操作",
          key: "action",
          width: 200,
          align: "center",
          fixed: "right",
          render: (h, params) => {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.edit(params.row);
                      }
                    }
                  },
                  "编辑"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "error",
                      size: "small"
                    },
                    on: {
                      click: () => {
                        this.remove(params.row);
                      }
                    }
                  },
                  "删除"
                )
              ]);
          }
        }
      ],
      data: [], // 表单数据
      total: 0 // 表单数据总数
    };
  },
  methods: {
    init() {
      // 楼栋数据
      this.initBuildData();
      // 系部数据
      this.initDepartmentData();
      // 班级数据
      this.initClazzData();
      this.getDataList();
    },
    initBuildData() {
      initBuild().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            e.value = e.id;
            e.label = e.name;
          });
          this.build = res.result;
        }
      });
    },
    initDepartmentData() {
      initDepartment().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          this.department = res.result;
        }
      });
    },
    initClazzData() {
      if (this.searchForm.departmentId == "") {
        initClazz().then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.clazz = res.result;
          }
        });
      } else {
        loadClazzByDeparmentId(this.searchForm.departmentId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              e.value = e.id;
              e.label = e.name;
            });
            this.clazz = res.result;
          }
        });
      }
    },
    changePage(v) {
      this.searchForm.pageNumber = v;
      this.getDataList();
      this.clearSelectAll();
    },
    changePageSize(v) {
      this.searchForm.pageSize = v;
      this.getDataList();
    },
    selectDateRange(v) {
      if (v) {
        this.searchForm.startDate = v[0];
        this.searchForm.endDate = v[1];
      }
    },
    getDataList() {
      this.loading = true;
      // 带多条件搜索参数获取表单数据 请自行修改接口
      getRoomList(this.searchForm).then(res => {
        this.loading = false;
        if (res.success === true) {
           this.data = res.result.content;
           this.total = res.result.totalElements;
        }
      });
    },
    handleSearch() {
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.getDataList();
    },
    handleReset() {
      this.$refs.searchForm.resetFields();
      this.searchForm.pageNumber = 1;
      this.searchForm.pageSize = 10;
      this.selectDate = null;
      // 重新加载数据
      this.selectDep = [];
      this.selectClazz = [];
      this.selectBuild = [];
      this.searchForm.name = "";
      this.searchForm.departmentId = "";
      this.searchForm.classId = "";
      this.searchForm.buildId = "";
      this.getDataList();
      this.initClazzData();
    },
    changeSort(e) {
      this.searchForm.sort = e.key;
      this.searchForm.order = e.order;
      if (e.order === "normal") {
        this.searchForm.order = "";
      }
      this.getDataList();
    },
    handelCancel() {
      this.modalVisible = false;
    },
    handelSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.submitLoading = true;
          if (this.modalType === 0) {
            // 添加 避免编辑后传入id等数据 记得删除
            delete this.form.id;
            saveRoom(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                 this.$Message.success("操作成功");
                 this.getDataList();
                 this.modalVisible = false;
               }
            });

          } else if (this.modalType === 1) {
            // 编辑
            // this.postRequest("请求路径", this.form).then(res => {
            updateRoomById(this.form).then(res => {
              this.submitLoading = false;
              if (res.success === true) {
                this.$Message.success("操作成功");
                this.getDataList();
                this.modalVisible = false;
              }
            });
          }
        }
      });
    },
    add() {
      // 加载楼栋
      this.initBuildForEdit();
      // 加载系部
      this.initDepartmentForEdit();
      // 加载班级
      this.initClazzForEdit();
      this.modalType = 0;
      this.modalTitle = "添加";
      this.$refs.form.resetFields();
      this.modalVisible = true;
    },
    edit(v) {
      // 加载楼栋
      this.initBuildForEdit();
      // 加载系部
      this.initDepartmentForEdit();
      this.modalType = 1;
      this.modalTitle = "编辑";
      this.$refs.form.resetFields();
      // 转换null为""
      for (let attr in v) {
        if (v[attr] === null) {
          v[attr] = "";
        }
      }
      let str = JSON.stringify(v);
      let data = JSON.parse(str);
      this.form = data;
      this.modalVisible = true;
    },
    enable(v) {
      this.$Modal.confirm({
        title: "确认启用",
        // 记得确认修改此处
        content: "您确认要启用 " + v.name + " ?",
        onOk: () => {
          // this.operationLoading = true;
          // this.postRequest("请求路径，如/deleteByIds/" + v.id).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.getDataList();
          //   }
          // });
          //模拟成功
          this.$Message.success("操作成功");
          this.getDataList();
        }
      });
    },
    disable(v) {
      this.$Modal.confirm({
        title: "确认禁用",
        // 记得确认修改此处
        content: "您确认要禁用 " + v.name + " ?",
        onOk: () => {
          // this.operationLoading = true;
          // this.postRequest("请求路径，如/deleteByIds/" + v.id).then(res => {
          // this.operationLoading = false;
          //   if (res.success === true) {
          //     this.$Message.success("操作成功");
          //     this.getDataList();
          //   }
          // });
          //模拟成功
          this.$Message.success("操作成功");
          this.getDataList();
        }
      });
    },
    remove(v) {
      this.$Modal.confirm({
        title: "确认删除",
        // 记得确认修改此处
        content: "您确认要删除 " + v.name + " ?",
        onOk: () => {
          // 删除
           this.operationLoading = true;
           deleteRoom(v.id).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
             this.$Message.success("操作成功");
             this.getDataList();
            }
          });
        }
      });
    },
    showSelect(e) {
      this.selectList = e;
      this.selectCount = e.length;
    },
    clearSelectAll() {
      this.$refs.table.selectAll(false);
    },
    delAll() {
      if (this.selectCount <= 0) {
        this.$Message.warning("您还未选择要删除的数据");
        return;
      }
      this.$Modal.confirm({
        title: "确认删除",
        content: "您确认要删除所选的 " + this.selectCount + " 条数据?",
        onOk: () => {
          let ids = "";
          this.selectList.forEach(function(e) {
            ids += e.id + ",";
          });
          ids = ids.substring(0, ids.length - 1);
          // 批量删除
           this.operationLoading = true;
          // this.deleteRequest("请求地址，如/deleteByIds/" + ids).then(res => {
          deleteRoom(ids).then(res => {
            this.operationLoading = false;
            if (res.success === true) {
             this.$Message.success("操作成功");
             this.clearSelectAll();
             this.getDataList();
            }
          });
        }
      });
    },
    loadDepData(item, callback) {
      item.loading = true;
      loadDepartment(item.value).then(res => {
        item.loading = false;
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          item.children = res.result;
          callback();
        }
      });
    },
    handleChangeDep(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.departmentId = value[value.length - 1];
      } else {
        this.searchForm.departmentId = "";
      }
      // 重新刷新 班级里的数据
      this.initClazzData();
    },
    handleChangeClazz(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.classId = value[value.length - 1];
      } else {
        this.searchForm.classId = "";
      }
    },
    handleChangeBuild(value, selectedData) {
      // 获取最后一个值
      if (value && value.length > 0) {
        this.searchForm.buildId = value[value.length - 1];
      } else {
        this.searchForm.buildId = "";
      }
    },
    initDepartmentForEdit() {
      initDepartment().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.loading = false;
              e.children = [];
            }
            if (e.status === -1) {
              e.title = "[已禁用] " + e.title;
              e.disabled = true;
            }
          });
          this.dataDep = res.result;
        }
      });
    },
    initClazzForEdit() {
      if (this.form.departmentId == "") {
        initClazz().then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              // e.value = e.id;
              e.title = e.name;
            });
            this.dataClass = res.result;
          }
        });
      } else {
        loadClazzByDeparmentId(this.form.departmentId).then(res => {
          if (res.success === true) {
            res.result.forEach(function(e) {
              // e.value = e.id;
              e.title = e.name;
            });
            this.dataClass = res.result;
          }
        });
      }
    },
    initBuildForEdit() {
      initBuild().then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            // e.value = e.id;
            e.title = e.name;
          });
          this.dataBuild = res.result;
        }
      });
    },
    clearSelectDep() {
      this.form.departmentId = "";
      this.form.departmentName = "";
      // 刷新班级数据
      this.clearSelectClazz();
    },
    clearSelectClazz() {
      this.form.classId = "";
      this.form.className = "";
      this.initClazzForEdit();
    },
    clearSelectBuild() {
      this.form.buildId = "";
      this.form.buildName = "";
      this.clearSelectRoom();
    },
    loadDepData(item, callback) {
      item.loading = true;
      loadDepartment(item.value).then(res => {
        item.loading = false;
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.value = e.id;
              e.label = e.title;
              e.loading = false;
              e.children = [];
            } else {
              e.value = e.id;
              e.label = e.title;
            }
            if (e.status === -1) {
              e.label = "[已禁用] " + e.label;
              e.disabled = true;
            }
          });
          item.children = res.result;
          callback();
        }
      });
    },
    loadDepDataTree(item, callback) {
      loadDepartment(item.id).then(res => {
        if (res.success === true) {
          res.result.forEach(function(e) {
            if (e.isParent) {
              e.loading = false;
              e.children = [];
            }
            if (e.status === -1) {
              e.title = "[已禁用] " + e.title;
              e.disabled = true;
            }
          });
          callback(res.result);
        }
      });
    },
    selectDepTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.form.departmentId = data.id;
        this.form.departmentName = data.title;
        // 刷新班级数据
        this.clearSelectClazz();
      }
    },
    selectClassTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.form.classId = data.id;
        this.form.className = data.name;
      }
    },
    selectBuildTree(v) {
      if (v.length > 0) {
        // 转换null为""
        for (let attr in v[0]) {
          if (v[0][attr] === null) {
            v[0][attr] = "";
          }
        }
        let str = JSON.stringify(v[0]);
        let data = JSON.parse(str);
        this.form.buildId = data.id;
        this.form.buildName = data.name;
      }
    }
  },
  mounted() {
    this.init();
  }
};
</script>